{% extends 'security.html.twig' %}

{% block title %}My flow - Changez votre mot de passe{% endblock %}

{% block content %}
    <div {{ stimulus_controller('security--resetPassword') }}>
        {{ form_start(resetForm, {'attr':{'data-security--resetPassword-target':'resetForm'}}) }}

        <div class="text-center mb-10">
            <h1 class="titillium-web-bold text-dark mb-3">Changez votre mot de passe</h1>
        </div>

        <div class="fv-row mb-10">
            {{ form_label(resetForm.plainPassword.first, null, {'label_attr':{'class':'form-label fw-bolder text-gray-900 fs-6'}}) }}
            {{ form_widget(resetForm.plainPassword.first, {'attr':{'class': resetForm.plainPassword.first.vars.errors|length ? 'form-control form-control-solid is-invalid':'form-control form-control-solid'}}) }}
            {{ form_label(resetForm.plainPassword.second, null, {'label_attr':{'class':'form-label fw-bolder text-gray-900 fs-6 mt-5'}}) }}
            {{ form_widget(resetForm.plainPassword.second, {'attr':{'class': resetForm.plainPassword.second.vars.errors|length ? 'form-control form-control-solid is-invalid':'form-control form-control-solid'}}) }}
            {{ form_errors(resetForm.plainPassword) }}
            {{ form_errors(resetForm.plainPassword.first) }}
            {{ form_errors(resetForm.plainPassword.second) }}
        </div>

        <div class="d-flex flex-wrap justify-content-center pb-lg-0">
            <button type="button" class="titillium-web-bold btn btn-primary-custom" {{ stimulus_action('security--resetPassword', 'submitResetForm') }}>
                <span class="indicator-label">Enregistrer</span>
                    <span class="indicator-progress">Enregistrement en cours...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
        </div>

        {{ form_end(resetForm) }}
    </div>
{% endblock %}
