<div class="card pt-4 mb-6" style="margin-right: 25px;">
    <h3 class="text-center title-participant">RESUMÉ DE COMMANDE</h3>
    <div class="card-body pt-0 pb-5">
        <div class="table-responsive" role="tabpanel">
            <table id="kt_datatable_mission_historique" class="table gy-5">
                <thead class="bandeau-table-mission">
                <tr class="fw-bold fs-6 text-muted">
                    <th>Type de mission</th>
                    <th>Quantité</th>
                    <th>Revenu estimé</th>
                    <th>Délais (min)</th>
                    <th>Équipe(s)</th>
                    <th>Livraison souhaitée</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for mission in campaign.missions %}
                        <tr>
                            <td>{{ mission.product.name }}</td>
                            <td>{{ mission.quantity }}</td>
                            <td class="text-center {% if is_granted('ROLE_CLIENT') %}d-none{% endif %}">
                                {% if is_granted('ROLE_ADMIN') %}
                                    {% if mission.adminIncome is empty %}
                                        <a class="cursor-pointer btn-a-definir" {{ stimulus_action('order--index','addTime','click') }} data-url="{{ path('mission_admin_set_initial_time', {'id':mission.id}) }}" data-name="{{ mission.product.name }}"><span class="text-my-flow font-weight-bold">À définir</span></a>
                                    {% else %}
                                        <span class="color-blue-custom font-weight-bold">{{ mission.adminIncome }}€</span>
                                    {% endif %}
                                {% else %}
                                    {% if mission.product.type == constant('\\App\\Enum\\ProductType::AU_FORFAIT') and app.user.billingMethod == 2 %}
                                        {% for service in app.user.services %}
                                            {% if service.product == mission.product %}
                                                <span class="color-blue-custom font-weight-bold">{{ service.price }}€</span>
                                            {% endif %}
                                        {% endfor %}
                                    {% elseif estimatedIncome is not empty %}
                                        {% for income in estimatedIncome %}
                                            {% if income and mission.id == income.mission.id and income.estimatedIncome is not empty %}
                                                <span class="color-blue-custom font-weight-bold">{{ income.estimatedIncome }}€</span>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-center {% if is_granted('ROLE_CLIENT') %}d-none{% endif %} {% if not is_granted('ROLE_ADMIN') %}d-flex{% endif %} input-delais">
                                {% if is_granted('ROLE_ADMIN') %}
                                    {% if mission.adminIncome is empty %}
                                        <a class="cursor-pointer btn-a-definir" {{ stimulus_action('order--index','addTime','click') }} data-url="{{ path('mission_admin_set_initial_time', {'id':mission.id}) }}" data-name="{{ mission.product.name }}"><span class="text-my-flow font-weight-bold">À définir</span></a>
                                    {% else %}
                                        <span class="color-blue-custom font-weight-bold">{{ mission.adminTime }} minute(s)</span>
                                    {% endif %}
                                {% else %}
                                    {% for income in estimatedIncome %}
                                        {% if app.user.billingMethod == 1 %}
                                            {% set tauxHoraire = app.user.dailyRate %}
                                        {% else %}
                                            {% set tauxHoraire = app.user.dailyRate %}
                                            {% for service in app.user.services|filter(s => s.product == mission.product) %}
                                                {% set tauxHoraire = service.price %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if income and mission.id == income.mission.id %}
                                            {% if income.mission.product.type.value == 1 %}
                                                <div class="group-timer">
                                                    {{ form_start(formMissionInitialTimeManually)}}
                                                    <input type="text" id="{{ formMissionInitialTimeManually.vars.id }}-{{ income.id }}-resumer" name="{{ formMissionInitialTimeManually.vars.full_name }}" class="form-control w-80 income" value="{{ income.initialTime }}" data-url="{{ path('mission_change_manually_time', {'id':income.id})}}" style="margin-left: 10px;">
                                                    {% do formMissionInitialTimeManually.initialTime.setRendered() %}
                                                    {% set newDelais = income.initialTime %}
                                                </div>
                                                <div class="group-timer2">
                                                    <button data-url="{{ path('mission_change_manually_time', {'id':income.id})}}" data-action="click->order--index#changeDelais" type="submit" data-input-id-resumer="{{ formMissionInitialTimeManually.vars.id }}-{{ income.id }}-resumer" value="{{ newDelais }}" class="btn icon-statut"><i class="fas fa-check icon-statut"></i></button>
                                                </div>
                                                {{ form_end(formMissionInitialTimeManually)}}
                                            {% else %}
                                                {% if income.initialTime is empty %}
                                                    <a class="cursor-pointer" {{ stimulus_action('order--index','addTime','click') }} data-url="{{ path('mission_change_initial_time', {'id':income.id}) }}" data-name="{{ mission.product.name }}" data-taux-horaire="{{ tauxHoraire }}"><span class="text-my-flow font-weight-bold">À définir</span></a>
                                                {% else %}
                                                    <div class="group-timer">
                                                        {{ form_start(formMissionInitialTimeManually)}}
                                                        <input type="text" id="{{ formMissionInitialTimeManually.vars.id }}-{{ income.id }}-resumer" name="{{ formMissionInitialTimeManually.vars.full_name }}" class="form-control w-80 income" value="{{ income.initialTime }}" data-url="{{ path('mission_change_manually_time', {'id':income.id})}}" style="margin-left: 10px;">
                                                        {% do formMissionInitialTimeManually.initialTime.setRendered() %}
                                                        {% set newDelais = income.initialTime %}
                                                    </div>
                                                    <div class="group-timer2">
                                                        <button data-url="{{ path('mission_change_manually_time', {'id':income.id})}}" data-action="click->order--index#changeDelais" type="submit" data-input-id-resumer="{{ formMissionInitialTimeManually.vars.id }}-{{ income.id }}-resumer" value="{{ newDelais }}" class="btn icon-statut"><i class="fas fa-check icon-statut"></i></button>
                                                    </div>
                                                    {{ form_end(formMissionInitialTimeManually)}}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% set allParticipantsId = '' %}
                                {% for participant in mission.participants|filter(p => p.role == constant('\\App\\Enum\\Role::ROLE_SUBCONTRACTOR')) %}
                                    {% if participant.user.id not in allParticipantsId %}
                                        {% if participant.user and participant.user.pictureName is not empty %}
                                            <img src="{{ vich_uploader_asset(participant.user, 'picture') }}" style="width: 35px; height:35px; border-radius: 5px;">
                                        {% elseif participant.user %}
                                            <div class="symbol symbol-35px">
                                                <div class="symbol-label fs-2 fw-bold text-primary">
                                                    {{ participant.user.firstname|slice(0,1)|upper }}{{ participant.user.lastname|slice(0,1)|upper }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% set allParticipantsId = allParticipantsId ~ participant.user.id %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% if mission.desiredDelivery|date('Ymd') < 'now'|date('Ymd') %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill text-custom-pink align-top" viewBox="0 0 16 16">
                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                {% else %}
                                    <i class="far fa-clock"></i>
                                {% endif %}
                                {{ mission.desiredDelivery ? mission.desiredDelivery|date('d.m.Y') }}
                            </td>
                            <td class="text-end">
                                <div class="dropdown">
                                    <button class="btn btn-transparant" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" data-kt-menu-trigger="click"
                                            data-kt-menu-placement="bottom-start">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-200px py-4" data-kt-menu="true" aria-labelledby="dropdownMenuButton1">
                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUBCONTRACTOR') %}
                                            {% set flag = false %}
                                            {% for participant in mission.participants|filter(p => p.role == constant('\\App\\Enum\\Role::ROLE_SUBCONTRACTOR')) %}
                                                {% if participant.initialTime is empty or participant.estimatedIncome is empty %}
                                                    {% set flag = true %}
                                                {% endif %}
                                            {% endfor %}
                                            <div class="menu-item px-3">
                                                <a {% if flag == false %}
                                                    href="{{ path('mission_activate', {'id':mission.id}) }}"
                                                {% else %}
                                                    data-bs-toggle="modal" data-bs-target="#kt_modal_activate"
                                                    {{ stimulus_action('order--index','activatedModal','click') }}
                                                    data-name="{{ mission.product.name }}"
                                                {% endif %}
                                                    class="menu-link px-3">
                                                    Activation
                                                </a>
                                            </div>
                                        {% endif %}
                                        <div class="menu-item px-3">
                                            <a href="{{ path('mission_edit', {'id':mission.id}) }}" class="menu-link px-3">
                                                Accéder
                                            </a>
                                        </div>
                                        <div class="menu-item px-3">
                                            <a href="#" data-url2="{{ path('mission_transition', {'id':mission.id, 'transition':'cancel'}) }}" {{ stimulus_action('order--index','openCancelMissionModal')}} class="menu-link px-3">
                                                Annuler
                                            </a>
                                        </div>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
</div>
